<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>CRM Admin panel</title>
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/dist/img/ico/favicon.png" type="image/x-icon">
        <!-- Bootstrap -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap rtl -->
        <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
         <!-- Pe-icon-7-stroke -->
        <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>
        <!-- style css -->
        <link href="/assets/dist/css/stylecrm.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href="assets/dist/css/stylecrm-rtl.css" rel="stylesheet" type="text/css"/>-->
        <style>
          	body {
  background: #ececec;
}
.lds-dual-ring.hidden { 
display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 20% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
} 
        </style>
    </head>
    <body>
      <div id="loader" class="lds-dual-ring hidden overlay"></div>
        <!-- Content Wrapper -->
        <div class="login-wrapper">
           
            <div class="container-center lg">
             <div class="login-area">
                <div class="panel panel-bd panel-custom">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe-7s-unlock"></i>
                            </div>
                            <div class="header-title">
                                <h3>Register</h3>
                                <small><strong>Please enter your data to register.</strong></small>
                            </div>
                        </div>
                    </div>
                     <%- include('../partials/message') %>
                      <div class="panel-body" >
                         <div align="right">
                               
                                <a class="btn btn-add" href="/">Back To Login</a>
                            </div>
                      <div class="form-group">
                                 <label>Select Role</label>
                                 <select class="form-control" id="role" required>
                                    <option value="">Please Select Role</option>
                                    <option value="1">Institute</option>
                                    <option value="2">Faculty</option>
                                    <option value="3">Student</option>
                                 </select>
                              </div>
                             
                              </div>
                             
                    <div class="panel-body" id="school-tab">
                        <form action="http://thememinister.com/crm/index.html" id="schoolForm" novalidate>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>School Name</label>
                                    <input type="text" id="school_name" placeholder="School Name" class="form-control" name="school_name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Principal Name</label>
                                    <input type="password" id="principal_name" placeholder="Principal Name" class="form-control" name="principal_name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Principal Email ID</label>
                                    <input type="email" id="principal_email" placeholder="Principal Email ID" class="form-control" name="principal_email" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Principal Phone</label>
                                    <input type="text" id="principal_phone" placeholder="Principal Phone" class="form-control" name="principal_phone" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>School Address</label>
                                    <input type="text" id="school_address" placeholder="School Address" class="form-control" name="school_address"required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Number of class</label>
                                    <input type="text" id="number_class" placeholder="E.g. 1-10" class="form-control" name="number_class" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Year of Established</label>
                                    <input type="date" id="school_year" class="form-control" name="school_year" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Upload Logo</label>
                                    <input type="file" id="logo" class="form-control" name="logo" required>
                                </div>
                            </div>
                             <div align="center">
                                <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="savePlot" data-action="submit">
															Register
														</button>
                               
                            </div>
                           
                        </form>
                        </div>
                         <div class="panel-body" id="student-tab">
                       <form action="" id="studentForm" novalidate>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" id="student_name" class="form-control" name="student_name" required>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Father's Name</label>
                                    <input type="text" id="student_father_name" class="form-control" name="student_father_name" required>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Mother's Name</label>
                                    <input type="text" id="student_mother_name" class="form-control" name="student_mother_name" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Parent  Phone Number</label>
                                    <input type="text" id="student_parent_phone" class="form-control" name="student_parent_phone" required>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>School</label>
                                   <select name="student_school_id" id="student_school_id" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="1">School1</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="student_class_id" id="student_class_id" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="1">class1</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="student_gender" id="student_gender" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="FeMale">FeMale</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Hobbies</label>
                                    <input type="text" id="student_hobbies" class="form-control" name="student_hobbies" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" id="student_dob" class="form-control" name="student_dob" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" id="student_email" class="form-control" name="student_email" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" id="student_phone" class="form-control" name="student_phone" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> Address</label>
                                  
                                    <textarea id="student_address" placeholder="Address" rows="5" class="form-control" name="student_address" required></textarea>
                                </div>
                              
                                <div class="form-group col-lg-6">
                                    <label>Upload Photo</label>
                                    <input type="file" id="student_photo" class="form-control" name="student_photo" required>
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveStudent" data-action="submit">
															Register
														</button>
                            </div>
                        </form>
                        </div>
                         <div class="panel-body" id="faculty-tab">
                           <form action="http://thememinister.com/crm/index.html" id="facultyForm" novalidate>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" id="name" class="form-control" name="name" required>
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Father Name</label>
                                    <input type="text" id="father_name" class="form-control" name="father_name" required>
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Mother Name</label>
                                    <input type="text" id="mother_name" class="form-control" name="mother_name" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>School</label>
                                   <select name="school_id" id="school_id" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="1">School1</option>
                                   </select>
                                </div>
                                    
                                  <div class="form-group col-lg-6">
                                    <label>Hobbies</label>
                                    <input type="text" id="hobbies" class="form-control" name="hobbies" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> Experience</label>
                                    <input type="text" id="experience" class="form-control" name="experience" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Qualification</label>
                                    <input type="text" id="qualification" class="form-control" name="qualification" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Specialize in</label>
                                    <input type="text" id="specialize" class="form-control" name="specialize" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="gender" id="gender" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="FeMale">FeMale</option>
                                   </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" id="dob" class="form-control" name="dob" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" id="email" class="form-control" name="email" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" id="phone" class="form-control" name="phone" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Address</label>
                                     <textarea id="address" placeholder="Address" rows="5" class="form-control" name="address" required></textarea>
                                  
                        
                                </div>
                               
                                <div class="form-group col-lg-6">
                                    <label>Upload Photo</label>
                                    <input type="file" id="photo" class="form-control" name="photo" required>
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveFaculty" data-action="submit">
															Register
														</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- jQuery -->
        <script src="
/assets/dist/js/sweetalert2.all.min.js
"></script>
    <script src="/assets/dist/js/sweetalert.min.js"></script>
        <script src="/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- bootstrap js -->
        <script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
       
 
    </body>
</html>
<script nonce="<%= nonce %>">
    $(document).ready(function(){
          $('#school-tab').hide();
        $('#student-tab').hide();
        $('#faculty-tab').hide();
 $("#role").change(function(){
    if($("#role option:selected").val()==""){
        $('#school-tab').hide();
        $('#student-tab').hide();
        $('#faculty-tab').hide();
    }
      if($("#role option:selected").val()=="1"){
        $('#school-tab').show();
        $('#student-tab').hide();
        $('#faculty-tab').hide();
    }
      if($("#role option:selected").val()=="2"){
        $('#school-tab').hide();
        $('#student-tab').hide();
        $('#faculty-tab').show();
    }
      if($("#role option:selected").val()=="3"){
        $('#school-tab').hide();
        $('#student-tab').show();
        $('#faculty-tab').hide();
    }
});

function setBillingAddress(){
  if ($("#facultyaddresscheck").is(":checked")) {
    $('#facultypermanentaddress1').val($('#facultycurrentaddress1').val());
    $('#facultypermanentaddress2').val($('#facultycurrentaddress2').val());
    $('#facultypermanentstate').val($('#facultycurrentstate').val());
    $('#facultypermanentdistrict').val($('#facultycurrentdistrict').val());
    $('#facultypermanentcity').val($('#facultycurrentcity').val());
    $('#facultypermanentpincode').val($('#facultycurrentpincode').val());
   
    $('#facultypermanentaddress1').attr('disabled', 'disabled');
    $('#facultypermanentaddress2').attr('disabled', 'disabled');
    $('#facultypermanentstate').attr('disabled', 'disabled');
    $('#facultypermanentdistrict').attr('disabled', 'disabled');
    $('#facultypermanentcity').attr('disabled', 'disabled');
    $('#facultypermanentpincode').attr('disabled', 'disabled');
  
  } else {
  

    $('#facultypermanentaddress1').removeAttr('disabled');
    $('#facultypermanentaddress2').removeAttr('disabled');
    $('#facultypermanentstate').removeAttr('disabled');
    $('#facultypermanentdistrict').removeAttr('disabled');
    $('#facultypermanentcity').removeAttr('disabled');
    $('#facultypermanentpincode').removeAttr('disabled');

  }
}

$('#facultyaddresscheck').click(function(){
  setBillingAddress();
})


function setStudentAddress(){
  if ($("#studentaddresscheck").is(":checked")) {
    $('#studentpermanentaddress1').val($('#studentcurrentaddress1').val());
    $('#studentpermanentaddress2').val($('#studentcurrentaddress2').val());
    $('#studentpermanentstate').val($('#studentcurrentstate').val());
    $('#studentpermanentdistrict').val($('#studentcurrentdistrict').val());
    $('#studentpermanentcity').val($('#studentcurrentcity').val());
    $('#studentpermanentpincode').val($('#studentcurrentpincode').val());
   
    $('#studentpermanentaddress1').attr('disabled', 'disabled');
    $('#studentpermanentaddress2').attr('disabled', 'disabled');
    $('#studentpermanentstate').attr('disabled', 'disabled');
    $('#studentpermanentdistrict').attr('disabled', 'disabled');
    $('#studentpermanentcity').attr('disabled', 'disabled');
    $('#studentpermanentpincode').attr('disabled', 'disabled');
  
  } else {
  

    $('#studentpermanentaddress1').removeAttr('disabled');
    $('#studentpermanentaddress2').removeAttr('disabled');
    $('#studentpermanentstate').removeAttr('disabled');
    $('#studentpermanentdistrict').removeAttr('disabled');
    $('#studentpermanentcity').removeAttr('disabled');
    $('#studentpermanentpincode').removeAttr('disabled');
 
  }
}

$('#studentaddresscheck').click(function(){
  setStudentAddress();
})
	$("#schoolForm").on("submit", async e => {
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/create-school`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                     
                  if (data) {
                       const url = '/success.mp3'
                    const audio = new Audio(url);
                    audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                

                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
            $("#studentForm").on("submit", async e => {
							e.preventDefault();
							try {
								alert("pop")
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/admission/create-student`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                      
                     
                  if (data) {
                       const url = '/success.mp3'
                    const audio = new Audio(url);
                    audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                

                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
            $("#facultyForm").on("submit", async e => {
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/faculty/create-faculty`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                     
                  if (data) {
                       const url = '/success.mp3'
                    const audio = new Audio(url);
                    audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                

                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});

    })
   

</script>