 <aside class="main-sidebar">
            <!-- sidebar -->
            <div class="sidebar">
               <!-- sidebar menu -->
               <ul class="sidebar-menu">
                  <li class="active">
                     <a href="/dashboard"><i class="fa fa-tachometer"></i><span>Dashboard</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Admission Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/admission/admission">All Student</a></li>
                     </ul>
                  </li>
                   <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Faculty/Staff Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/faculty/view-faculty">All Faculty/Staff</a></li>
                       
                     </ul>
                  </li>
                  
                    <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Exam Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/exam/view-exam">All Exam</a></li>
                     </ul>
                  </li>
                  
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-shopping-basket"></i><span>Financial Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/financial/financial-student">Student Wise</a></li>
                        <li><a href="/financial/financial-faculty">Faculty Wise</a></li>
                      
                     </ul>
                  </li>
                 
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-book"></i><span>Test Series</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/test-series/online-test">Online Test</a></li>
                        <li><a href="/test-series/practice-test">Practice Test</a></li>
                     </ul>
                  </li>
                  <!-- <li class="treeview">
                     <a href="#">
                     <i class="fa fa-shopping-bag"></i><span>Accounting</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="cpayment.html">Client payment</a></li>
                        <li><a href="emanage.html">Expense management</a></li>
                        <li><a href="ecategory.html">Expense Category</a></li>
                     </ul>
                  </li> -->
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-file-text"></i><span>Report</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/report/report-student">Student Report (Test)</a></li>
                        <li><a href="/report/report-faculty">Faculty Report (Feedback)</a></li>
                      
                     </ul>
                  </li>
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-bell"></i><span>Attendance Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href="/attendance/attendance-student">Student Attendence</a></li>
                        <li><a href="/attendance/attendance-faculty">Faculty/Staff Attendence</a></li>
                     </ul>
                  </li>
                 <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Academic Module</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                      
                        <li><a href="/academic/admit-card"> Card Generation</a></li>
                      
                     </ul>
                  </li>
                
                  <li>
                     <a href="/holiday/view-holiday">
                     <i class="fa fa-stop-circle"></i> <span>Public Holiday</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
              
                  <li>
                     <a href="/calender/view-calender">
                     <i class="fa fa-calendar"></i> <span>Calender</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                 
                  <li>
                     <a href="/message/view-message">
                     <i class="fa fa-envelope-o"></i> <span>Message</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                   <li>
                     <a href="/complaint/view-complaint">
                     <i class="fa fa-file-text"></i> <span>Complaint</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                   <li>
                     <a href="/feedback/view-feedback">
                     <i class="fa fa-file-text"></i> <span>Feddback</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                   <li>
                     <a href="/download/view-download">
                     <i class="fa fa-file-text"></i> <span>Download Center</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                
               </ul>
            </div>
            <!-- /.sidebar -->
         </aside>